@import "_normalize.scss";

body{
  overflow:hidden;
}

.title{
  position: absolute;
  left: 35%;
  top: 40%;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  pointer-events: none;
  color: rgb(42, 99, 109);
}