@import "_normalize.scss";
@import "_variables.scss";

.main{
        overflow: hidden;
}
.palette{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .color{
        padding: 5%;
        border-bottom: 1px solid #000;
    }
    .red{
        background-color: $red;
    }
    .orange{
        background-color: $orange;
    }
    .green{
        background-color: $green; 
    }
    .yellow{
        background-color: $yellow;
    }
    .purple{
        background-color: $purple;
    }
    .coral{
        background-color: $coral;
    }
    .white{
        background-color: $white;
    }
    .black{
        background-color: $black;
    }
    .blue{
        background-color: $blue;
    }
    .pink{
        background-color: $pink;
    }
}
.canvas{
    position: relative;
    top: 0px;
    left: 0px;
}